@using UnsceneTravelApp.ViewModels;
@model AddActivitiesViewModel;
@{
}

<h1> Add Activities</h1>
<form method="post">
    <div asp-controller="Activities" asp-action="Add" class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name">
    </div>
    <div class="form-group">
        <label asp-for="Location"></label>
        <input asp-for="Location" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" />
    </div>
    
    <p><a target="_blank" href="https://www.google.com/maps">Click here to navigate to Google Maps</a></p>
    <div class="form-group">
        <label asp-for="UrlLocation">URL Link: Share full URL link here</label>
        <input asp-for="UrlLocation" />
    </div>


    <br><input type="submit" value="Add Activity" /><br>

</form>